@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.ingrandisciti:focus {
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-name: ingrandimento;
}

.ingrandisciti {
  outline: none;
  animation-duration: 0.3s;
  animation-name: smallino;
}
.ingrandisciti2 {
  animation-duration: 0.3s;
  animation-name: smallino;
}
.ingrandisciti2:first-child {
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-name: ingrandimento;
}
@keyframes ingrandimento {
  from {
    border: none;
    width: 300px;
  }

  to {
    border: none;
    width: 100%;
  }
}

@keyframes smallino {
  from {
    border: none;
    width: 110%;
  }

  to {
    border: none;
    width: 300px;
  }
}

body {
  background-color: white;
}

.fontHead1 {
  font-family: "Courier Prime", monospace;
  letter-spacing: 2px;
  font-size: 22px;
}

.fontHead {
  font-family: "Courier Prime", monospace;
  letter-spacing: 1.3px;
}
.fontHead2 {
  font-family: "Courier Prime", monospace;
}

.fontnav {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0px;
  text-transform: uppercase;
  line-height: 1.733rem;
}

.colorDiveder {
  color: aqua;
}

.imgTeam {
  height: auto;
  max-width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
